# فایل راهنما برای تنظیم متغیرهای محیطی (کپی کن به .env.development.local)
VITE_BASE_URL=http://localhost:8000/api

# true => نمونه‌کارها از Mock Data خوانده می‌شود | false => از API لاراول (GET /projects)
VITE_USE_MOCK=true